#app {
  /* COLOR */
  --white: #fff;
  --grey: #FFECE3;
  --purple-n1: #5F3A76;
  --purple-n2: #B37BE1;
  --purple-n3: #E3C1FF;
  --orange-n1: #FF9C71;
  --orange-n2: #FFC7AE;
  --orange-n3: #FFECE3;
  --yellow: #FBD46D;
  --black: #1B1B1B;
  --black-n2: #292929;
  --black-n3: #383838;
}
