*[class^="text--"] {
  font-family: 'Montserrat', "Work Sans", sans-serif;
}

.text--footer-title {
  color: var(--purple-n2);
  font-family: 'Dela Gothic One', "Work Sans", sans-serif;
  font-size: 1.2rem;
  width: 134px;
  border-bottom: 1px solid var(--purple-n2);
  padding-bottom: 8px;
}

.text--footer {
  color: var(--purple-n2);
  font-size: 1.2rem;
  font-weight: bold;
}